<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>DEMO</title>

    <link rel="stylesheet" href="/css/timeLine.css">

    <style>
        .head {
            text-align: center;
            font-weight: bold;
            font-size: large;
        }
    </style>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/jquery_flexslider.js"></script>
</head>
<body>
<div class="about-history" style="background-color: rgba(0,0,0,7)" id="fzlc">
    <header class="about-title title-white">
        <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Love Story</h3>
        <p class="wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">小小康小小云</p>
    </header>
    <div class="about-history-list wow zoomIn" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
        <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides clearfix list" style="width: 2600%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>1993/10/17</h3>
                        <div class="desc">
                            <p>
                                一只你口中的大懒虫诞生了
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>1995/03/19</h3>
                        <div class="desc">
                            <div class="head">出生</div>
                            <p>
                                一只我口中的小懒猫在518后天出现了
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2013/10/01</h3>
                        <div class="desc">
                            <div class="head">相遇</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2013/10/23</h3>
                        <div class="desc">
                            <div class="head">网聊</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2013/11/16</h3>
                        <div class="desc">
                            <div class="head">溜冰</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2014/01/01</h3>
                        <div class="desc">
                            <div class="head">新年</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2014/03/18</h3>
                        <div class="desc">
                            <div class="head">Kiss</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2014/03/19</h3>
                        <div class="desc">
                            <div class="head">生日</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2014/04/10</h3>
                        <div class="desc">
                            <div class="head">落泪</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2014/08/01</h3>
                        <div class="desc">
                            <div class="head">古河</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2015/04/04</h3>
                        <div class="desc">
                            <div class="head">扬州</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2014/09/07</h3>
                        <div class="desc">
                            <div class="head">相遇</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2013/10/1</h3>
                        <div class="desc">
                            <div class="head">相遇</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>

                <li style="width: 253px; float: left; display: block;">
                    <div class="item">
                        <h3>2013/10/1</h3>
                        <div class="desc">
                            <div class="head">相遇</div>
                            <p>
                            </p>
                        </div>
                    </div>
                </li>


                <li style="width: 253px; float: left; display: block;"></li>
            </ul>
        </div>
        <ul class="flex-direction-nav">
            <li class="flex-nav-prev"><a class="flex-prev" href="#">&lt;</a></li>
            <li class="flex-nav-next"><a class="flex-next" href="#">&gt;</a></li>
        </ul>
    </div>


    <div class="swiper-container about-history-swiper hidden">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="item">
                    <h3>2016</h3>
                    <div class="desc">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination about-history-pagination"></div>
    </div>
</div>

<script>
    $(function () {
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
        } else {
            $(".about-history-list").flexslider({animation: "slide", slideshow: false, controlNav: false, itemWidth: 253, itemMargin: 31, prevText: "<", nextText: ">", move: 1});
        }
    });
</script>

</body>
</html>