<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxkxxy.mapper.base.UserBaseMapper">


    <insert id="insertBaseUser"  useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO `user`
        (
        <trim suffixOverrides=",">
                    <if test="userId!=null">
                        `user_id`,
                    </if>
                    <if test="userName!=null">
                        `user_name`,
                    </if>
                    <if test="nikeName!=null">
                        `nike_name`,
                    </if>
                    <if test="email!=null">
                        `email`,
                    </if>
                    <if test="password!=null">
                        `password`,
                    </if>
                    <if test="salt!=null">
                        `salt`,
                    </if>
                    <if test="lastLoginTime!=null">
                        `last_login_time`,
                    </if>
                    <if test="lastLoginIp!=null">
                        `last_login_ip`,
                    </if>
                    <if test="loginCount!=null">
                        `login_count`,
                    </if>
                    <if test="validateCode!=null">
                        `validate_code`,
                    </if>
                    <if test="score!=null">
                        `score`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="userId!=null">
                    #{userId},
                </if>
                <if test="userName!=null">
                    #{userName},
                </if>
                <if test="nikeName!=null">
                    #{nikeName},
                </if>
                <if test="email!=null">
                    #{email},
                </if>
                <if test="password!=null">
                    #{password},
                </if>
                <if test="salt!=null">
                    #{salt},
                </if>
                <if test="lastLoginTime!=null">
                    #{lastLoginTime},
                </if>
                <if test="lastLoginIp!=null">
                    #{lastLoginIp},
                </if>
                <if test="loginCount!=null">
                    #{loginCount},
                </if>
                <if test="validateCode!=null">
                    #{validateCode},
                </if>
                <if test="score!=null">
                    #{score},
                </if>
        </trim>
        )
    </insert>




    <update id="updateBaseUser">
        UPDATE `user`
        SET
        <trim suffixOverrides=",">
            <if test="userName != null and userName!=''">
                `user_name` = #{userName},
            </if>
            <if test="nikeName != null and nikeName!=''">
                `nike_name` = #{nikeName},
            </if>
            <if test="email != null and email!=''">
                `email` = #{email},
            </if>
            <if test="password != null and password!=''">
                `password` = #{password},
            </if>
            <if test="salt != null and salt!=''">
                `salt` = #{salt},
            </if>
            <if test="lastLoginTime != null">
                `last_login_time` = #{lastLoginTime},
            </if>
            <if test="lastLoginIp != null and lastLoginIp!=''">
                `last_login_ip` = #{lastLoginIp},
            </if>
            <if test="loginCount != null and loginCount!=''">
                `login_count` = #{loginCount},
            </if>
            <if test="validateCode != null and validateCode!=''">
                `validate_code` = #{validateCode},
            </if>
            <if test="score != null">
                `score` = #{score},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `user_id` = #{userId} and
        </trim>
    </update>



    <resultMap type="com.xxkxxy.entity.base.BaseUser" id="BaseUserMap">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nikeName" column="nike_name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="loginCount" column="login_count"/>
        <result property="validateCode" column="validate_code"/>
        <result property="score" column="score"/>
    </resultMap>


    <select id="queryBaseUser" resultMap="BaseUserMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="userId != null">
                `user_id` = #{userId} and
            </if>
            <if test="userName != null and userName!=''">
                `user_name` = #{userName} and
            </if>
            <if test="nikeName != null and nikeName!=''">
                `nike_name` = #{nikeName} and
            </if>
            <if test="email != null and email!=''">
                `email` = #{email} and
            </if>
            <if test="password != null and password!=''">
                `password` = #{password} and
            </if>
            <if test="salt != null and salt!=''">
                `salt` = #{salt} and
            </if>
            <if test="lastLoginTime != null">
                `last_login_time` = #{lastLoginTime} and
            </if>
            <if test="lastLoginIp != null and lastLoginIp!=''">
                `last_login_ip` = #{lastLoginIp} and
            </if>
            <if test="loginCount != null and loginCount!=''">
                `login_count` = #{loginCount} and
            </if>
            <if test="validateCode != null and validateCode!=''">
                `validate_code` = #{validateCode} and
            </if>
            <if test="score != null">
                `score` = #{score} and
            </if>
            <if test = "(_parameter instanceof com.xxkxxy.entity.base.BaseUser$QueryBuilder) == true">
                <if test="userIdList != null">
                    `user_id` in
                    <foreach collection="userIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="userIdSt !=null">
                    `user_id` >= #{userIdSt} and
                </if>
                <if test="userIdEd!=null">
                    `user_id` &lt;= #{userIdEd} and
                </if>
                <if test="userNameList != null">
                    `user_name` in
                    <foreach collection="userNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `User_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `User_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="nikeNameList != null">
                    `nike_name` in
                    <foreach collection="nikeNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyNikeName!=null and fuzzyNikeName.size()>0">
                    (
                    <foreach collection="fuzzyNikeName"  separator="or" item="item">
                        `Nike_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyNikeName!=null and rightFuzzyNikeName.size()>0">
                    (
                    <foreach collection="rightFuzzyNikeName"  separator="or" item="item">
                        `Nike_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="emailList != null">
                    `email` in
                    <foreach collection="emailList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyEmail!=null and fuzzyEmail.size()>0">
                    (
                    <foreach collection="fuzzyEmail"  separator="or" item="item">
                        `Email` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEmail!=null and rightFuzzyEmail.size()>0">
                    (
                    <foreach collection="rightFuzzyEmail"  separator="or" item="item">
                        `Email` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="passwordList != null">
                    `password` in
                    <foreach collection="passwordList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPassword!=null and fuzzyPassword.size()>0">
                    (
                    <foreach collection="fuzzyPassword"  separator="or" item="item">
                        `Password` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPassword!=null and rightFuzzyPassword.size()>0">
                    (
                    <foreach collection="rightFuzzyPassword"  separator="or" item="item">
                        `Password` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="saltList != null">
                    `salt` in
                    <foreach collection="saltList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySalt!=null and fuzzySalt.size()>0">
                    (
                    <foreach collection="fuzzySalt"  separator="or" item="item">
                        `Salt` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySalt!=null and rightFuzzySalt.size()>0">
                    (
                    <foreach collection="rightFuzzySalt"  separator="or" item="item">
                        `Salt` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="lastLoginTimeList != null">
                    `last_login_time` in
                    <foreach collection="lastLoginTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="lastLoginTimeSt !=null">
                    `last_login_time` >= #{lastLoginTimeSt} and
                </if>
                <if test="lastLoginTimeEd!=null">
                    `last_login_time` &lt;= #{lastLoginTimeEd} and
                </if>
                <if test="lastLoginIpList != null">
                    `last_login_ip` in
                    <foreach collection="lastLoginIpList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyLastLoginIp!=null and fuzzyLastLoginIp.size()>0">
                    (
                    <foreach collection="fuzzyLastLoginIp"  separator="or" item="item">
                        `Last_login_ip` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyLastLoginIp!=null and rightFuzzyLastLoginIp.size()>0">
                    (
                    <foreach collection="rightFuzzyLastLoginIp"  separator="or" item="item">
                        `Last_login_ip` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="loginCountList != null">
                    `login_count` in
                    <foreach collection="loginCountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyLoginCount!=null and fuzzyLoginCount.size()>0">
                    (
                    <foreach collection="fuzzyLoginCount"  separator="or" item="item">
                        `Login_count` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyLoginCount!=null and rightFuzzyLoginCount.size()>0">
                    (
                    <foreach collection="rightFuzzyLoginCount"  separator="or" item="item">
                        `Login_count` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="validateCodeList != null">
                    `validate_code` in
                    <foreach collection="validateCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyValidateCode!=null and fuzzyValidateCode.size()>0">
                    (
                    <foreach collection="fuzzyValidateCode"  separator="or" item="item">
                        `Validate_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyValidateCode!=null and rightFuzzyValidateCode.size()>0">
                    (
                    <foreach collection="rightFuzzyValidateCode"  separator="or" item="item">
                        `Validate_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="scoreList != null">
                    `score` in
                    <foreach collection="scoreList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="scoreSt !=null">
                    `score` >= #{scoreSt} and
                </if>
                <if test="scoreEd!=null">
                    `score` &lt;= #{scoreEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryBaseUserLimit1" resultMap="BaseUserMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="userId != null">
                `user_id` = #{userId} and
            </if>
            <if test="userName != null and userName!=''">
                `user_name` = #{userName} and
            </if>
            <if test="nikeName != null and nikeName!=''">
                `nike_name` = #{nikeName} and
            </if>
            <if test="email != null and email!=''">
                `email` = #{email} and
            </if>
            <if test="password != null and password!=''">
                `password` = #{password} and
            </if>
            <if test="salt != null and salt!=''">
                `salt` = #{salt} and
            </if>
            <if test="lastLoginTime != null">
                `last_login_time` = #{lastLoginTime} and
            </if>
            <if test="lastLoginIp != null and lastLoginIp!=''">
                `last_login_ip` = #{lastLoginIp} and
            </if>
            <if test="loginCount != null and loginCount!=''">
                `login_count` = #{loginCount} and
            </if>
            <if test="validateCode != null and validateCode!=''">
                `validate_code` = #{validateCode} and
            </if>
            <if test="score != null">
                `score` = #{score} and
            </if>
            <if test = "(_parameter instanceof com.xxkxxy.entity.base.BaseUser$QueryBuilder) == true">
                    <if test="userIdList != null">
                        `user_id` in
                        <foreach collection="userIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="userIdSt !=null">
                    `user_id` >= #{userIdSt} and
                </if>
                <if test="userIdEd!=null">
                    `user_id` &lt;= #{userIdEd} and
                </if>
                    <if test="userNameList != null">
                        `user_name` in
                        <foreach collection="userNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `User_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `User_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="nikeNameList != null">
                        `nike_name` in
                        <foreach collection="nikeNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyNikeName!=null and fuzzyNikeName.size()>0">
                    (
                    <foreach collection="fuzzyNikeName"  separator="or" item="item">
                        `Nike_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyNikeName!=null and rightFuzzyNikeName.size()>0">
                    (
                    <foreach collection="rightFuzzyNikeName"  separator="or" item="item">
                        `Nike_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="emailList != null">
                        `email` in
                        <foreach collection="emailList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyEmail!=null and fuzzyEmail.size()>0">
                    (
                    <foreach collection="fuzzyEmail"  separator="or" item="item">
                        `Email` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEmail!=null and rightFuzzyEmail.size()>0">
                    (
                    <foreach collection="rightFuzzyEmail"  separator="or" item="item">
                        `Email` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="passwordList != null">
                        `password` in
                        <foreach collection="passwordList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPassword!=null and fuzzyPassword.size()>0">
                    (
                    <foreach collection="fuzzyPassword"  separator="or" item="item">
                        `Password` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPassword!=null and rightFuzzyPassword.size()>0">
                    (
                    <foreach collection="rightFuzzyPassword"  separator="or" item="item">
                        `Password` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="saltList != null">
                        `salt` in
                        <foreach collection="saltList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySalt!=null and fuzzySalt.size()>0">
                    (
                    <foreach collection="fuzzySalt"  separator="or" item="item">
                        `Salt` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySalt!=null and rightFuzzySalt.size()>0">
                    (
                    <foreach collection="rightFuzzySalt"  separator="or" item="item">
                        `Salt` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="lastLoginTimeList != null">
                        `last_login_time` in
                        <foreach collection="lastLoginTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="lastLoginTimeSt !=null">
                    `last_login_time` >= #{lastLoginTimeSt} and
                </if>
                <if test="lastLoginTimeEd!=null">
                    `last_login_time` &lt;= #{lastLoginTimeEd} and
                </if>
                    <if test="lastLoginIpList != null">
                        `last_login_ip` in
                        <foreach collection="lastLoginIpList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyLastLoginIp!=null and fuzzyLastLoginIp.size()>0">
                    (
                    <foreach collection="fuzzyLastLoginIp"  separator="or" item="item">
                        `Last_login_ip` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyLastLoginIp!=null and rightFuzzyLastLoginIp.size()>0">
                    (
                    <foreach collection="rightFuzzyLastLoginIp"  separator="or" item="item">
                        `Last_login_ip` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="loginCountList != null">
                        `login_count` in
                        <foreach collection="loginCountList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyLoginCount!=null and fuzzyLoginCount.size()>0">
                    (
                    <foreach collection="fuzzyLoginCount"  separator="or" item="item">
                        `Login_count` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyLoginCount!=null and rightFuzzyLoginCount.size()>0">
                    (
                    <foreach collection="rightFuzzyLoginCount"  separator="or" item="item">
                        `Login_count` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="validateCodeList != null">
                        `validate_code` in
                        <foreach collection="validateCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyValidateCode!=null and fuzzyValidateCode.size()>0">
                    (
                    <foreach collection="fuzzyValidateCode"  separator="or" item="item">
                        `Validate_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyValidateCode!=null and rightFuzzyValidateCode.size()>0">
                    (
                    <foreach collection="rightFuzzyValidateCode"  separator="or" item="item">
                        `Validate_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="scoreList != null">
                        `score` in
                        <foreach collection="scoreList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="scoreSt !=null">
                    `score` >= #{scoreSt} and
                </if>
                <if test="scoreEd!=null">
                    `score` &lt;= #{scoreEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.xxkxxy.entity.base.BaseUser$QueryBuilder) == true">

                <if test="fetchFields==null">
                    *,
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        *,
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        *,
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.userId==true">
                        `user_id`,
                    </if>
                    <if test="fetchFields.fetchFields.userName==true">
                        `user_name`,
                    </if>
                    <if test="fetchFields.fetchFields.nikeName==true">
                        `nike_name`,
                    </if>
                    <if test="fetchFields.fetchFields.email==true">
                        `email`,
                    </if>
                    <if test="fetchFields.fetchFields.password==true">
                        `password`,
                    </if>
                    <if test="fetchFields.fetchFields.salt==true">
                        `salt`,
                    </if>
                    <if test="fetchFields.fetchFields.lastLoginTime==true">
                        `last_login_time`,
                    </if>
                    <if test="fetchFields.fetchFields.lastLoginIp==true">
                        `last_login_ip`,
                    </if>
                    <if test="fetchFields.fetchFields.loginCount==true">
                        `login_count`,
                    </if>
                    <if test="fetchFields.fetchFields.validateCode==true">
                        `validate_code`,
                    </if>
                    <if test="fetchFields.fetchFields.score==true">
                        `score`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.userId==null">
                        `user_id`,
                    </if>
                    <if test="fetchFields.excludeFields.userName==null">
                        `user_name`,
                    </if>
                    <if test="fetchFields.excludeFields.nikeName==null">
                        `nike_name`,
                    </if>
                    <if test="fetchFields.excludeFields.email==null">
                        `email`,
                    </if>
                    <if test="fetchFields.excludeFields.password==null">
                        `password`,
                    </if>
                    <if test="fetchFields.excludeFields.salt==null">
                        `salt`,
                    </if>
                    <if test="fetchFields.excludeFields.lastLoginTime==null">
                        `last_login_time`,
                    </if>
                    <if test="fetchFields.excludeFields.lastLoginIp==null">
                        `last_login_ip`,
                    </if>
                    <if test="fetchFields.excludeFields.loginCount==null">
                        `login_count`,
                    </if>
                    <if test="fetchFields.excludeFields.validateCode==null">
                        `validate_code`,
                    </if>
                    <if test="fetchFields.excludeFields.score==null">
                        `score`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.xxkxxy.entity.base.BaseUser$QueryBuilder) == false" >
                *,
            </if>

        </trim>
    </sql>


</mapper>