<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/MDB/js/jquery-2.2.3.min.js"></script>
</head>
<body>
<select onchange="changeView(this);">
    <option>无</option>
    <option value="temp1">模板一</option>
    <option value="temp2">模版二</option>
    <option value="temp3">模版三</option>
</select>

<div id="view">

</div>
</body>
<script>
    function changeView(obj) {
        var value = obj.value;
        $.ajax({
            url: "testAjax.do",
            data: {temp: value},
            success: function (data) {
                $("#view").html(data)
            }
        })
    }
</script>
</html>